@using Sklep_Internetowy_.NET.Models.Entity

@model Sklep_Internetowy_.NET.Models.ViewModel.ProductListViewModel

<section>

    @Html.Partial("_SearchBarPatrial")

    <div class="container py-5">
        <h2 class="text-center mb-4" style="color: #333;">New Arrivals</h2>
        <div class="row justify-content-center">
            @if (Model.NewProducts.Any())
            {
                @foreach (var product in Model.NewProducts)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2 col-6 mb-3 my-3">
                        @Html.Partial("_ProductCard", product)
                    </div>
                }
            }
            else
            {
                <p class="text-center">No new products available.</p>
            }
        </div>
    </div>

    <div class="container py-5">
        <h2 class="text-center mb-4" style="color: #d32f2f;"><i class="fa-solid fa-tag"></i> On Sale</h2>
        <div class="row justify-content-center">
            @if (Model.OnSaleProducts.Any())
            {
                @foreach (var product in Model.OnSaleProducts.Take(5))
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2 col-6 mb-3">
                        @Html.Partial("_ProductCard", product)
                    </div>
                }

                <div class="text-center mt-4">
                    <a asp-areas="" asp-controller="Product" asp-action="OnSaleProducts" class="btn btn-danger btn-lg">
                        See All Sale Products <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            }
            else
            {
                <p class="text-center">No products on sale at the moment.</p>
            }
        </div>
    </div>
    <div class="container py-5">
        <h2 class="text-center mb-4" style="color: #333;">All Products</h2>
        <div class="row justify-content-center">
            @foreach (var product in Model.AllProducts)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2 col-6 mb-3">
                        @Html.Partial("_ProductCard", product)
                </div>
            }
        </div>
    </div>
</section>
