@model List<Sklep_Internetowy_.NET.Models.Entity.Product>

<h1>Products</h1>

<section>
	<div class="container py-5">
		<div class="row">
			@foreach (var product in Model)
			{
				@Html.Partial("_ProductCard", product)
			}
		</div>
	</div>
</section>