@model List<Sklep_Internetowy_.NET.Models.Entity.Product>

<h2 class="text-center mb-4" style="color: #d32f2f;"><i class="fa-solid fa-tag"></i> On Sale Products</h2>

<section class="container py-5">
    <div class="row justify-content-center">
        @if (Model.Any())
        {
            @foreach (var product in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2 col-6 mb-3">
                    @Html.Partial("_ProductCard", product)
                </div>
            }
        }
        else
        {
            <p class="text-center">No products on sale at the moment.</p>
        }
    </div>
</section>
