@model List<Sklep_Internetowy_.NET.Models.Entity.Product>

<div class="d-flex flex justify-content-between align-items-center">
    <h1 class="col-8">Products</h1>
    <a class="btn btn-success btn-lg text-white d-flex align-items-center" asp-controller="Product" asp-action="Add">
        <i class="bi bi-plus-circle me-2"></i> Add Product
    </a>
</div>

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            @foreach (var product in Model)
            {
                @Html.Partial("_ProductCard", product)
            }
        </div>
    </div>
</section>
