@model Sklep_Internetowy_.NET.Models.ViewModel.CheckoutViewModel

<h2>Checkout</h2>

<form asp-action="Checkout" method="post">
    <div>
        <label for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div>
        <label for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div>
        <label for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label for="Address">Address</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div>
        <label for="City">City</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div>
        <label for="Zip">Zip Code</label>
        <input asp-for="Zip" class="form-control" />
        <span asp-validation-for="Zip" class="text-danger"></span>
    </div>
    <div>
        <label for="Country">Country</label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Przejdź do płatności</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}